---
import Layout from '../layouts/base.astro'
---

<Layout id="main-container">
  <!-- Hero -->
  <div class="bg-gradient-to-b from-violet-600/10 via-transparent">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
      <!-- Title -->
      <div class="max-w-3xl text-center mx-auto">
        <h1 class="block font-medium text-gray-900/90 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
          Akses dokumen perpajakan secara instan kapan saja dan di mana saja.
        </h1>
      </div>
      <!-- End Title -->

      <div class="max-w-3xl text-center mx-auto">
        <p class="text-lg text-black/70">
          Kami membantu wajib pajak memperoleh dokumen perpajakan yang cepat, akurat, dan sesuai regulasi, memberikan
          mereka ketenangan pikiran dan lebih banyak waktu untuk fokus pada bisnis mereka.
        </p>
      </div>

      <!-- Buttons -->
      <div class="text-center">
        <a
          class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-blue-600 to-violet-600 shadow-lg shadow-transparent hover:shadow-blue-700/50 border border-transparent text-white text-sm font-medium rounded-full focus:outline-none focus:shadow-blue-700/50 py-3 px-6"
          href="#"
        >
          Get started
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
          >
        </a>
      </div>
      <!-- End Buttons -->
    </div>
  </div>
  <!-- End Hero -->

  <div class="mx-auto mt-52 w-full max-w-screen-xl px-4 pb-20 sm:mt-36 sm:px-6 sm:pb-24 lg:mt-28 lg:px-8 lg:pb-32">
    <div class="mx-auto max-w-[40rem] space-y-20 divide-y divide-slate-200 sm:space-y-24 lg:max-w-none lg:space-y-32">
      <section class="grid grid-cols-1 gap-x-6 gap-y-10 pt-10 lg:grid-cols-3">
        <h2 class="text-2xl/9 font-semibold tracking-tight text-slate-900">Layanan Premium</h2>
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2">
          <div
            class="flex flex-col bg-gray-50 border border-gray-200 overflow-hidden rounded-xl text-center h-full dark:bg-neutral-800 dark:border-neutral-700"
          >
            <div class="p-4 md:p-8">
              <span
                class="mb-1 inline-block bg-blue-50 border border-blue-300 text-blue-600 text-[.6125rem] leading-4 uppercase rounded-md py-0.5 px-2 dark:bg-blue-900/70 dark:border-blue-700 dark:text-blue-500"
                >New</span
              >
              <h3 class="text-lg md:text-2xl font-semibold text-gray-800 dark:text-neutral-200">Variables</h3>
              <p class="mt-1 text-gray-600 dark:text-neutral-400">
                Created adaptable designs with variables - from colors to spacing and border radius.
              </p>
            </div>
            <!-- <div class="mt-auto">
              <img src="./assets/img/mockups/img6.png" alt="Figma Tokens">
            </div> -->
          </div>
        </div>
      </section>
      <section class="grid grid-cols-1 gap-x-6 gap-y-10 pt-10 lg:grid-cols-3">
        <h2 class="text-2xl/9 font-semibold tracking-tight text-slate-900">Free tools</h2><div
          class="max-w-none lg:col-span-2 prose prose-sm prose-slate prose-a:font-semibold prose-a:text-sky-500 prose-a:no-underline hover:prose-a:text-sky-600 prose-code:text-[13px]/[1.692] prose-pre:rounded-lg prose-pre:px-4 prose-pre:py-[0.875rem]"
        >
          <p>
            Our UI kits are thoughtfully crafted with the latest and greatest versions of the tools we love so that they
            are easy to maintain, and fun to actually work with.
          </p><div class="not-prose mt-6">
            <ul class="grid grid-cols-2 gap-x-8 gap-y-6">
              <li>
                <strong class="font-semibold text-slate-900">Tailwind CSS</strong> v3.4
              </li><li>
                <strong class="font-semibold text-slate-900">React</strong> v18
              </li><li>
                <strong class="font-semibold text-slate-900">Headless UI</strong> v2.1
              </li><li>
                <strong class="font-semibold text-slate-900">TypeScript</strong>
                v5.3
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
