---
import Layout from '../layouts/base.astro'
---

<Layout id="main-container">
  <!-- Icon Blocks -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6">
      <!-- Card -->
      <a
        class="group flex gap-y-6 size-full hover:bg-gray-100 focus:outline-none focus:bg-gray-100 rounded-lg p-5"
        href="#"
      >
        <svg
          class="shrink-0 size-8 text-gray-800 mt-0.5 me-6"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><circle cx="13.5" cy="6.5" r=".5"></circle><circle cx="17.5" cy="10.5" r=".5"></circle><circle
            cx="8.5"
            cy="7.5"
            r=".5"></circle><circle cx="6.5" cy="12.5" r=".5"></circle><path
            d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10c.926 0 1.648-.746 1.648-1.688 0-.437-.18-.835-.437-1.125-.29-.289-.438-.652-.438-1.125a1.64 1.64 0 0 1 1.668-1.668h1.996c3.051 0 5.555-2.503 5.555-5.554C21.965 6.012 17.461 2 12 2z"
          ></path></svg
        >

        <div>
          <div>
            <h3 class="block font-bold text-gray-800">Build your portfolio</h3>
            <p class="text-gray-600">The simplest way to keep your portfolio always up-to-date.</p>
          </div>

          <p class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold text-gray-800">
            Learn more
            <svg
              class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
            >
          </p>
        </div>
      </a>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Icon Blocks -->

  <div
    class="mx-auto mt-52 w-full max-w-container px-4 pb-20 sm:mt-36 sm:px-6 sm:pb-24 lg:mt-28 lg:px-8 lg:pb-32 xl:mt-36"
  >
    <div class="mx-auto max-w-[40rem] space-y-20 divide-y divide-slate-200 sm:space-y-24 lg:max-w-none lg:space-y-32">
      <section class="grid grid-cols-1 items-baseline gap-x-6 gap-y-10 lg:grid-cols-3">
        <h2 class="text-2xl/9 font-semibold tracking-tight text-slate-900">What’s included</h2><div
          class="max-w-2xl space-y-10 lg:col-span-2 prose prose-sm prose-slate prose-a:font-semibold prose-a:text-sky-500 prose-a:no-underline hover:prose-a:text-sky-600 prose-code:text-[13px]/[1.692] prose-pre:rounded-lg prose-pre:px-4 prose-pre:py-[0.875rem]"
        >
          <div class="[&>:first-child]:mt-0 [&>:last-child]:mb-0">
            <p>
              Catalyst is a modern application UI kit built with Tailwind CSS, Headless UI and React, designed and built
              by the Tailwind CSS team. It's a collection of beautiful, production-ready UI components you drop into
              your projects alongside your own code that are yours to customize, adapt, and make your own.
            </p>
            <p>
              Skip all the time you'd spend building your own buttons, form controls, dialogs, tables, dropdown menus,
              and more and hit the ground running with carefully crafted component APIs that are a delight to use.
            </p>
          </div><div class="space-y-10">
            <p>
              <strong>Built by experts</strong> — you can trust that all of the code is written following Tailwind CSS best
              practices, because it’s written by the same team who created and maintain the framework.
            </p>
            <p>
              <strong>Easy to customize</strong> — everything is styled with utility classes, directly in the component markup.
              No configuration variables or complex CSS to wrestle with, just open any component in your editor and change
              whatever you want.
            </p>
            <p>
              <strong>Built with React</strong> — well-structured, thoughtfully designed React components, built by experts
              with years of React experience. Benefit from the strength and maturity of the React ecosystem.
            </p>
            <p>
              <strong>Keyboard accessible</strong> — everything we build is keyboard accessible, and we carefully craft the
              markup to deliver the best screenreader experience we know how.
            </p>
            <p>
              <strong>TypeScript or JavaScript</strong> — authored with the latest version of TypeScript by nerds who get
              way too much satisfaction out of getting the types just right, giving you the best possible developer experience.
              We also include a plain JavaScript version, just in case TypeScript isn't your thing.
            </p>
          </div>
        </div>
      </section><section class="grid grid-cols-1 gap-x-6 gap-y-10 pt-10 lg:grid-cols-3">
        <h2 class="text-2xl/9 font-semibold tracking-tight text-slate-900">Screenshots 0123456789</h2><div
          class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2"
        >
          <img
            src="https://tailwindui.com/plus/img/templates/catalyst/detail-01.png"
            alt="This is a detail image"
            class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
          /><img
            src="https://tailwindui.com/plus/img/templates/catalyst/detail-02.png"
            alt="This is a detail image"
            class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
          /><img
            src="https://tailwindui.com/plus/img/templates/catalyst/detail-03.png"
            alt="This is a detail image"
            class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
          /><img
            src="https://tailwindui.com/plus/img/templates/catalyst/detail-04.png"
            alt="This is a detail image"
            class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
          />
        </div>
      </section><section class="grid grid-cols-1 gap-x-6 gap-y-10 pt-10 lg:grid-cols-3">
        <h2 class="text-2xl/9 font-semibold tracking-tight text-slate-900">Built for developers</h2><div
          class="max-w-none lg:col-span-2 prose prose-sm prose-slate prose-a:font-semibold prose-a:text-sky-500 prose-a:no-underline hover:prose-a:text-sky-600 prose-code:text-[13px]/[1.692] prose-pre:rounded-lg prose-pre:px-4 prose-pre:py-[0.875rem]"
        >
          <p>
            Our UI kits are thoughtfully crafted with the latest and greatest versions of the tools we love so that they
            are easy to maintain, and fun to actually work with.
          </p><div class="not-prose mt-6">
            <ul class="grid grid-cols-2 gap-x-8 gap-y-6">
              <li>
                <strong class="font-semibold text-slate-900">Tailwind CSS</strong> v3.4
              </li><li>
                <strong class="font-semibold text-slate-900">React</strong> v18
              </li><li>
                <strong class="font-semibold text-slate-900">Headless UI</strong> v2.1
              </li><li>
                <strong class="font-semibold text-slate-900">TypeScript</strong>
                v5.3
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
