---
import Layout from '../layouts/base.astro'
---

<Layout id="main-container">
  <!-- Icon Blocks -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6">
      <!-- Card -->
      <a
        class="group flex gap-y-6 size-full hover:bg-gray-100 focus:outline-none focus:bg-gray-100 rounded-lg p-5"
        href="#"
      >
        <svg
          class="shrink-0 size-8 text-gray-800 mt-0.5 me-6"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><circle cx="13.5" cy="6.5" r=".5"></circle><circle cx="17.5" cy="10.5" r=".5"></circle><circle
            cx="8.5"
            cy="7.5"
            r=".5"></circle><circle cx="6.5" cy="12.5" r=".5"></circle><path
            d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10c.926 0 1.648-.746 1.648-1.688 0-.437-.18-.835-.437-1.125-.29-.289-.438-.652-.438-1.125a1.64 1.64 0 0 1 1.668-1.668h1.996c3.051 0 5.555-2.503 5.555-5.554C21.965 6.012 17.461 2 12 2z"
          ></path></svg
        >

        <div>
          <div>
            <h3 class="block font-bold text-gray-800">Build your portfolio</h3>
            <p class="text-gray-600">The simplest way to keep your portfolio always up-to-date.</p>
          </div>

          <p class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold text-gray-800">
            Learn more
            <svg
              class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
            >
          </p>
        </div>
      </a>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Icon Blocks -->

  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <section
      id="product-application-ui-feedback"
      class="grid scroll-mt-12 grid-cols-1 gap-x-8 gap-y-10 py-10 lg:py-12 xl:grid-cols-4"
    >
      <h3 class="text-base font-semibold text-slate-900">Feedback</h3><ul
        class="col-span-3 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 sm:gap-y-10 md:grid-cols-3 xl:gap-x-8"
      >
        <li>
          <div
            class="group relative before:absolute before:-inset-2.5 before:rounded-[20px] before:bg-gray-50 before:opacity-0 hover:before:opacity-100"
          >
            <div class="relative aspect-[2/1] overflow-hidden rounded-lg bg-gray-100 ring-1 ring-gray-900/10">
              <img
                src="/plus/img/category-thumbnails/application-ui/alerts.png"
                alt=""
                class="absolute inset-0 h-full w-full"
              />
            </div><h4 class="mt-4 text-sm font-medium text-slate-900 group-hover:text-indigo-600">
              <a href="https://tailwindui.com/components/application-ui/feedback/alerts"
                ><span class="absolute -inset-2.5 z-10"></span><span class="relative">Alerts</span></a
              >
            </h4><p class="relative mt-1.5 text-xs font-medium text-slate-500">6 components</p><p
              class="pointer-events-none absolute right-3 top-3 z-10 flex items-center justify-center rounded-full bg-gray-900/30 p-1 text-white"
            >
              <span class="sr-only">PNG previews only, upgrade to get the HTML.</span><svg
                aria-hidden="true"
                viewBox="0 0 24 24"
                fill="none"
                class="size-6"
                ><path
                  d="M5.75 11.75a1 1 0 011-1h10.5a1 1 0 011 1v5.5a2 2 0 01-2 2h-8.5a2 2 0 01-2-2v-5.5zM7.75 10.5v-.157c0-1.562-.094-3.302.996-4.42C9.368 5.288 10.374 4.75 12 4.75c1.626 0 2.632.537 3.254 1.174 1.09 1.117.996 2.857.996 4.419v.157"
                  stroke="#fff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
            </p>
          </div>
        </li><li>
          <div
            class="group relative before:absolute before:-inset-2.5 before:rounded-[20px] before:bg-gray-50 before:opacity-0 hover:before:opacity-100"
          >
            <div class="relative aspect-[2/1] overflow-hidden rounded-lg bg-gray-100 ring-1 ring-gray-900/10">
              <img
                src="/plus/img/category-thumbnails/application-ui/empty-states.png"
                alt=""
                class="absolute inset-0 h-full w-full"
              />
            </div><h4 class="mt-4 text-sm font-medium text-slate-900 group-hover:text-indigo-600">
              <a href="https://tailwindui.com/components/application-ui/feedback/empty-states"
                ><span class="absolute -inset-2.5 z-10"></span><span class="relative">Empty States</span></a
              >
            </h4><p class="relative mt-1.5 text-xs font-medium text-slate-500">6 components</p><p
              class="pointer-events-none absolute right-3 top-3 z-10 flex items-center justify-center rounded-full bg-gray-900/30 p-1 text-white"
            >
              <span class="sr-only">PNG previews only, upgrade to get the HTML.</span><svg
                aria-hidden="true"
                viewBox="0 0 24 24"
                fill="none"
                class="size-6"
                ><path
                  d="M5.75 11.75a1 1 0 011-1h10.5a1 1 0 011 1v5.5a2 2 0 01-2 2h-8.5a2 2 0 01-2-2v-5.5zM7.75 10.5v-.157c0-1.562-.094-3.302.996-4.42C9.368 5.288 10.374 4.75 12 4.75c1.626 0 2.632.537 3.254 1.174 1.09 1.117.996 2.857.996 4.419v.157"
                  stroke="#fff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
            </p>
          </div>
        </li>
      </ul>
    </section>
  </div>
</Layout>
